<!DOCTYPE html>
    <html>
        <head>
            <title>Date</title>
        </head>

    <body>
        <p>
            <% date = DateTime.now %>

            <%= "The date is #{date.strftime("%A, %B %d, %Y")}."%>
        </p>
    </body>

</html>